header, .logo-container, nav, nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header {
  position: fixed;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100px;
  padding: 1em;
  margin-top: .5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.logo {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.logo-container, .logo {
  height: 100%;
}

.logo-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  display: inline-block;
}

nav {
  width: 40%;
  position: absolute;
  top: 100px;
  left: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

nav ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  -ms-flex-item-align: center;
      align-self: center;
  padding-left: 0;
}

nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin: 2rem 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 1em 0;
  border-radius: 1em;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  color: #F9ADA0;
}

.shrink-main-header {
  height: 80px;
  padding-top: 8px;
  margin-top: 0;
}

.hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.nav-hidden .hamburger-container {
  -webkit-transform: initial;
          transform: initial;
}

.nav-hidden nav {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.nav-item-active {
  color: #E2007A;
}

.dark-mode-switch-container {
  position: absolute;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark-mode-switch {
  height: 25px;
  width: 50px;
  position: relative;
  border: 2px solid #E2007A;
  border-radius: 12.5px;
  margin-bottom: 10px;
}

.dark-mode-switch input {
  height: 100%;
  width: 100%;
}

.dark-mode-switch input::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 10px;
}

.dark-mode-switch input::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background: #E2007A;
  border-radius: 10px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.dark-mode-switch input:checked::after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.dark-mode-switch-label {
  color: #5B5B5B;
}

@media (min-width: 879px) {
  nav {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
  }
  .main-header {
    width: 100%;
  }
  .main-header-container {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hamburger-container {
    display: none;
  }
  nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    -ms-flex-item-align: center;
        align-self: center;
  }
  nav ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    margin: 0;
    background: none;
    padding: 0;
  }
  .nav-hidden .hamburger-container {
    -webkit-transform: initial;
            transform: initial;
  }
  .nav-hidden nav {
    -webkit-transform: initial;
            transform: initial;
  }
}
/*# sourceMappingURL=Header.css.map */